@import 'base/mixin.scss';
@import 'base/reset.scss';
@import 'base/variables.scss';
@import 'components/archive.scss';
@import 'components/post.scss';
@import 'themes/dracula.scss';
@import 'themes/dark.scss';

.body-move{
  transform: translateX(-10%);
}
body.theme {
  font-family: BlinkMacSystemFont, -apple-system, Roboto,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100vw;
  overflow-x: hidden;
  transition: transform ease-out 0.3s,background-color ease 0.5s;
  // Layout style
  .container {
    width: 70%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 40px;
  }
  // Header style
  .header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      width: $avatar-width;
      margin: 20px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .social {
      margin-bottom: 10px;
      a {
        font-size: 1.1rem;
        color: $icon-color;
        margin: 10px 5px 0 5px;
        text-decoration: none;
        @include hover-color;
      }
    }
  }
  // Menubar style
  .menubar {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $background;
    box-shadow: 0 1px 2px rgba(#999, 0.1);
    transition: background-color ease 0.5s;
    z-index: 9999;
    .menu-container {
      display: flex;
      align-items: center;
      .theme-icon {
        margin-right: 20px;
        cursor: pointer;
        height: 25px;
      }
    }
    #bar {
      font-size: 1.2rem;
      cursor: pointer;
      display: none;
    }
    .back {
      transition: all ease-out 0.3s;
      transform: translateX(100%);
    }
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 50%;
      top: 0;
      left: 25%;
      background-image: linear-gradient(
        to right,
        rgba(#000, 0),
        rgba(#999, 0.1),
        rgba(#000, 0)
      );
    }
    .title {
      text-decoration: none;
      color: $leading-color;
    }
    .menu {
      display: flex;
      list-style: none;
      li {
        padding: 0 10px;
        a {
          color: $leading-color;
          text-decoration: none;
          @include hover-color;
        }
      }
    }
  }
  // Index page recent posts style
  #recent-posts,
  #category,
  #tag {
    h1 {
      margin-bottom: 25px;
    }
    .recent-post-item,
    .category-item,
    .tag-item {
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px solid #aaa;
      img {
        width: 100%;
        border-radius: 10px;
      }
      a {
        color: $leading-color;
        text-decoration: none;
      }
      time {
        color: $leading-color;
        font-size: 0.9rem;
      }
      .post-title {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        position: relative;
        margin-bottom: 30px;

        &:hover::before {
          background-color: $primary;
        }
        &:hover::after {
          background-image: linear-gradient(to right, $primary, rgba(#fff, 0));
        }

        &::before {
          content: '';
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: $sub-color;
          position: absolute;
          left: 0;
          bottom: -17px;
        }
        &::after {
          content: '';
          width: 100px;
          height: 1px;
          background-image: linear-gradient(
            to right,
            $sub-color,
            rgba(#fff, 0)
          );
          position: absolute;
          left: 4px;
          bottom: -14px;
        }
      }
      .sub {
        margin: 10px 0;
        display: flex;
        font-size: 0.8rem;
        i{
          color: $icon-color;
          margin-right: 10px;
        }
        a {
          line-height: 15px;
          color: $sub-color;
          @include hover-color;
        }
        span {
          color: $sub-color;
        }
      }
      .categories {
        margin-right: 10px;
      }
      #excerpt {
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 5px 20px;
        a {
          color: $primary;
          @include transition;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            @include transition;
            background-color: $primary;
          }

          &:hover {
            color: $primary;

            &::after {
              width: 100%;
            }
          }
        }
      }
      .readmore {
        font-weight: 700;

        &:hover::after {
          letter-spacing: 3px;
          color: $primary;
        }

        &::after {
          content: '····>';
          @include transition;
        }
      }
    }
  }
  // Paginator style
  #paginator {
    display: flex;
    margin: 40px 10px 0;
    .space {
      margin-right: 5px;
    }
    .page-number {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $icon-color;
      border-radius: 50%;
      transition: background-color ease 0.3s;
      &:hover {
        background-color: rgba(#000, 0.1);
      }
    }
    .current {
      color: #ffffff;
      background-color: $primary;
      &:hover {
        background-color: $primary;
      }
    }

    .extend {
      @extend .page-number;
      @include hover-color;
      &:hover {
        background: none;
      }
    }
  }
  // Footer style
  footer {
    margin-top: 60px;
    padding: 35px 0;
    border-top: 1px solid rgba(#000, 0.1);
    color: #666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span {
      color: orange;
    }

    a {
      display: inline-block;
      color: orangered;
      text-decoration: none;
      @include transition;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        @include transition;
        background-color: orangered;
      }

      &:hover {
        color: orangered;
        &::after {
          width: 100%;
        }
      }
    }
  }

  // Responsive style
  @media screen and (max-width: 800px) {

    .container {
      width: 90%;
    }
    .menubar {
      margin: 0 auto;
      justify-content: space-between;

      h2 {
        margin-left: 40px;
      }
      i {
        margin-right: 40px;
      }

      .back {
        position: fixed;
        background-color: rgba(#fff, 0.2);
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        z-index: 5;
      }

      .menu-opened{
        overflow: hidden;
        transform: translateX(-100%);
      }

      #bar {
        display: block;
      }

      .menu {
        z-index: 10;
        width: 70%;
        max-width: 400px;
        height: 100%;
        position: fixed;
        right: -70%;
        top: 0;
        padding-top: 20px;
        flex-direction: column;
        background-color: $background;
        border-left: #eee solid 1px;
        transition: all ease-out 0.3s;

        li {
          padding: 15px 20px;
          a {
            display: block;
          }
        }
      }
    }
  }
}
