extends partials/layout.pug

block content
  section.section
    -
      const groups = {};
      const years = [];
      page.posts.each(post => {
          const year = post.date.year();
          if (typeof(groups[year]) === 'undefined') {
              groups[year] = [];
              years.push(year);
          }
          groups[year].push(post);
      });
      years.sort((a, b) => b - a);
    each year in years
      h4.year(id=year)= year
      ul.articles
        each post in groups[year].sort((a, b) => b.date.diff(a.date))
          li.article
            time(datetime=date(post.date, 'YYYY/M/D'),itemprop="datePublished")= date(post.date, 'MMM Do')
            a(href=url_for(post.link ? post.link : post.path))= post.title
  include partials/paginator.pug