extends partials/layout.pug

block content
  article#post
    h2= page.title
    -var item = page
    include mixins.pug
    +make_post_sub
    != page.content
  include partials/paginator.pug

block fixed
  -
    let toc_options = {
      list_number: false,
      max_depth: 2
    }
  .show-directory#show-directory
    i.fa.fa-angle-up
  .directory
    != toc(page.content, toc_options)