* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform ease-out 0.3s;
  transition: -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s;
  transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}

.container {
  width: 70%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 40px;
}

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .avatar {
  width: 130px;
}

.header .avatar img {
  width: 100%;
  border-radius: 50%;
}

.header .social {
  margin: 5px 0 10px;
}

.header .social a {
  font-size: 1.1rem;
  color: #000;
  margin: 10px 5px 0 5px;
  text-decoration: none;
}

.header .social a:hover {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  color: #fd3030;
}

.menubar {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 2px rgba(153, 153, 153, 0.1);
          box-shadow: 0 1px 2px rgba(153, 153, 153, 0.1);
  z-index: 9999;
}

.menubar #bar {
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
}

.menubar .back {
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menubar::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(153, 153, 153, 0.1)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(153, 153, 153, 0.1), rgba(0, 0, 0, 0));
}

.menubar .title {
  text-decoration: none;
  color: #333;
}

.menubar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menubar .menu li {
  padding: 0 10px;
}

.menubar .menu li a {
  color: #333;
  text-decoration: none;
}

.menubar .menu li a:hover {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  color: #fd3030;
}

#recent-posts .recent-post-item {
  width: 100%;
  margin-bottom: 30px;
}

#recent-posts .recent-post-item img {
  width: 100%;
  border-radius: 10px;
}

#recent-posts .recent-post-item a {
  color: #444;
  text-decoration: none;
}

#recent-posts .recent-post-item time {
  color: #555;
  font-size: .9rem;
}

#recent-posts .recent-post-item .title {
  display: block;
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
}

#recent-posts .recent-post-item .title:hover::before {
  background-color: red;
}

#recent-posts .recent-post-item .title:hover::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#fff));
  background-image: linear-gradient(to right, #ff0000, #fff);
}

#recent-posts .recent-post-item .title::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #444;
  position: absolute;
  left: 0;
  bottom: -17px;
}

#recent-posts .recent-post-item .title::after {
  content: '';
  width: 100px;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#444), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to right, #444, rgba(255, 255, 255, 0));
  position: absolute;
  left: 4px;
  bottom: -14px;
}

#recent-posts .recent-post-item .sub {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
}

#recent-posts .recent-post-item .sub i {
  color: #000;
}

#recent-posts .recent-post-item .sub a {
  color: #555;
}

#recent-posts .recent-post-item .sub a:hover {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  color: #fd3030;
}

#recent-posts .recent-post-item .sub span {
  color: #555;
}

#recent-posts .recent-post-item .categories {
  margin-right: 10px;
}

#recent-posts .recent-post-item .categories a {
  -webkit-text-decoration: #999 underline dashed;
          text-decoration: #999 underline dashed;
}

#recent-posts .recent-post-item #excerpt a {
  color: #fd3030;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  position: relative;
}

#recent-posts .recent-post-item #excerpt a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: red;
}

#recent-posts .recent-post-item #excerpt a:hover {
  color: red;
}

#recent-posts .recent-post-item #excerpt a:hover::after {
  width: 100%;
}

#paginator .page-number, #paginator .extend {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 40px 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 50%;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}

#paginator .page-number:hover, #paginator .extend:hover {
  background-color: #ebebeb;
}

#paginator .current {
  color: #ffffff;
  background-color: #fd3030;
}

#paginator .current:hover {
  background-color: #ff3b3b;
}

#paginator .extend:hover {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  color: #fd3030;
}

#paginator .extend:hover {
  background: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  padding: 35px 0;
  border-top: 1px solid rgba(136, 136, 136, 0.459);
}

footer span {
  color: orange;
}

footer a {
  display: inline-block;
  color: #fd3030;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  background-color: red;
}

footer a:hover {
  color: red;
}

footer a:hover::after {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .body-move {
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
  }
  .container {
    width: 90%;
  }
  .menubar {
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menubar h2, .menubar i {
    margin: 0 40px;
  }
  .menubar .back {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .menubar #bar {
    display: block;
  }
  .menubar .menu {
    z-index: 10;
    width: 70%;
    max-width: 400px;
    height: 100%;
    position: fixed;
    right: -70%;
    top: 0;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border-left: #eee solid 1px;
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
  }
  .menubar .menu li {
    padding: 10px 20px;
  }
}
/*# sourceMappingURL=riana.css.map */