// 黑夜模式
.theme.dark-mode {
  color: #ccc;
  background-color: #2e303a;
  a {
    color: #aaa;
  }
  .social,
  #post .sub {
    a,
    i {
      color: #ccc;
    }
  }
  .menubar {
    color: #aaa;
    background-color: #2e303a;
    box-shadow: 0 2px 2px rgba(#000, 0.2);

    &::before {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(#000, 1),
        rgba(0, 0, 0, 0)
      );
    }

    .title {
      color: #ddd;
    }
    .menu {
      li > a {
        color: #aaa;
      }
    }
  }
  #recent-posts,
  #category,
  #tag {
    .category-item {
      a,
      time {
        color: #ccc;
      }
      .sub i, .sub a{
        color: #ccc;
      }
    }
    .recent-post-item a {
      color: #ccc;
    }
    .recent-post-item .sub {
      a,
      span,
      time,
      i {
        color: #aaa;
      }
    }
  }
  #excerpt,
  #post {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    .sub span {
      color: #aaa;
    }
  }
  #paginator {
    .page-number,
    .extend {
      color: #fff;
      &:hover {
        background-color: rgba(#000, 0.2);
      }
    }
  }
  .year {
    color: #ccc;
  }
  .articles {
    border-left: 2px dashed #ccc;
    li {
      // border-left: dashed 2px #fff;
      a {
        color: #eee;

        &::before {
          border-color: red;
          background-color: rgb(255, 126, 126);
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .menubar {
      .back {
        background-color: rgba(#000, 0.3);
      }
      .menu {
        background-color: #2e303a;
        border-left: #000 solid 1px;
      }
    }
  }
}
