footer
  if is_home() || is_post()
    script(src="/js/highlight.pack.js")
    script hljs.initHighlightingOnLoad();
  p ©2020
  p Theme 
    span Riana
    |  by 
    a(href="https://hoon.cc/") Hoon
