<footer>
  <% if(is_home() || is_post()){ %>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <% } %>
  <p>©2020</p>
  <p>Theme <span>Riana</span> by <a href="https://hoon.cc/">Hoon</a></p>
</footer>