-
  var pageTitle = page.title || config.subtitle || ''
  var pageTitle = page.title || config.subtitle || '';
  if (is_archive()) pageTitle = 'Archives' + ' - ';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag + ' - ';
  if (is_category()) pageTitle = 'Category: ' + page.category + ' - ';
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year + ' - ';
  if (is_year()) pageTitle += ': ' + page.year + ' - ';
  if (is_post()) pageTitle += ' - '
  pageTitle +=  config.title;
- fontAwesomeCdnLink = "https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css"

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#2e303a")
    title= pageTitle
    link(rel="stylesheet", href=fontAwesomeCdnLink)
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      each url in theme.stylesheets
        link(rel="stylesheet", href=url)
  body.theme
    script(src="/js/darkmode.js")
    if theme.enableHeader
      include header.pug
    include menubar.pug
    .container
      block content
      include footer.pug
    if theme.scripts !== undefined && theme.scripts.length > 0
      each url in theme.scripts
        script(src=url)