-
  var pageTitle = page.title || config.subtitle || ''
  var pageTitle = page.title || config.subtitle || '';
  if (is_archive()) pageTitle = 'Archives' + ' - ';
  if (is_tag()) pageTitle = 'Tag: ' + page.tag + ' - ';
  if (is_category()) pageTitle = 'Category: ' + page.category + ' - ';
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year + ' - ';
  if (is_year()) pageTitle += ': ' + page.year + ' - ';
  if (is_post()) pageTitle += ' - '
  pageTitle +=  config.title;
- fontAwesomeCdnLink = "https://cdn.bootcss.com/font-awesome/5.12.1/css/all.css"

doctype html
html(lang="en")
  include head.pug
  body.theme
    script(src="/js/darkmode.js")
    block fixed
    if theme.showHeader
      include header.pug
    include nav.pug
    .container
      block content
      include footer.pug
