<div class="menubar">
  <a href="<%= url_for('/') %>" class="title">
    <h2><%= config.title %></h2>
  </a>
  <ul class="menu">
    <% Object.keys(theme.menu).forEach( key => {%>
    <li><a href="<%= theme.menu[key] %>"><%= key %></a></li>
    <% }) %>
  </ul>
</div>