.sub
  if post.categories.length > 0
    .categories
      i.fas.fa-align-left
      - post.categories.forEach(category =>{
      a(href=url_for(category.path))= category.name
      - });
  else
    .categories
      i.fas.fa-align-left
        span 未分类
  time(datetime=post.date.toJSON())
    i.far.fa-clock
    = date(post.date)